/* #root {
  color: red;
} */
.episode {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  background-color: #f4f4f4;
  max-width: 600px;
}

img {
  max-width: 100%;
  display: block;
  margin-top: 1em;
}
